p {
    font-family: Calibri, sans-serif;
    font-size: 23px;
}

#article {
    font-family: Calibri, sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

#shortInfo {
    font-family: Calibri, sans-serif;
    border-style: solid;
    padding: 10px;
}

.payBox {
    margin: 50px;
    border-width: 5px;
    font-family: Calibri, sans-serif;
    border-style: solid;
    padding: 10px;
    background-color: black;
    color: white;
}

.payBox h3 {
    font-family: Calibri, sans-serif;
    font-size: 30;
    text-align: center;
}

.payBox form {
    font-family: Calibri, sans-serif;
    font-size: 25;
}

#wrapper {
    display: flex;
}

#pay {
    font-size: 40;
}

#backButton {
    border-style: hidden;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 5px;
}

input {
    margin: 20px;
    width: 200px;
}

#choosenArticle {
    width: 500px;
    height: 500px;
}

.linkOut a {
    font-family: Calibri, sans-serif;
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

#payButton {
    background-color: white;
    color: black;
    border-style: hidden;
    border-radius: 5px;
    font-size: 20px;
}