.header h1 {
    font-family: Calibri, sans-serif;
    padding: 50px;
    text-align: center;
    background:BLACK;
    color: WHITE;
    font-size: 50px;
}

.header img {
    float: LEFT;
    width: 161px;
    height: 161px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    OVERFLOW: hidden;
    background-color: #A9A9A9;

}

li {
    float: left;
    
    
}

li a {
    font-family: Calibri, sans-serif;
    display: block;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: large;
    text-align: center;
    text-decoration: none;
    
}

.footer {
    font-family: Calibri, sans-serif;
    text-align: center;
    PADDING: 50px
}



.Impressum {
    font-family: Calibri, sans-serif;
    text-align: LEFT;
}

body {
    background-color: #A9A9A9;
    
}

.image1 {
    font-family: Calibri, sans-serif;
    display: flex;
    justify-content: left;
    float: CENTER;
    
    
}

#textForPic {
    FLOAT: center;
}
.articel1{
	display: flex;
	justify-content: space-between;
}
.articel1 img{
    width:500px;
    height: 500px;
    float: left;
    margin-top: 16px;
	margin-bottom: 16px;
    padding-left: 200px;

}
.descriptionArticel1 {
    font-family: Calibri, sans-serif;
    font-size: X-large;
    padding: 10px;
    color: black;
    font-size: bold;
    text-align: LEFT;
    text-decoration: none;
    FLOAT: left;
    PADDING-RIGHT: 500px;
}
.pricearticel1 {
    float:RIGHT;
    font-family: Calibri, sans-serif;
    font-size: xx-large;
}
#warenkorb {
    background-color: red;
    color: white;
}
.articel2{
	display: flex;
	justify-content: space-between;
}
.articel2 img{
    width:500px;
    height: 500px;
    float: left;
    margin-top: 16px;
	margin-bottom: 16px;
    padding-left: 200px;

}
.descriptionArticel2 {
    font-family: Calibri, sans-serif;
    font-size: X-large;
    padding: 10px;
    color: black;
    font-size: bold;
    text-align: LEFT;
    text-decoration: none;
    FLOAT: left;
    PADDING-RIGHT: 500px;
}
.pricearticel2 {
    float:RIGHT;
    font-family: Calibri, sans-serif;
    font-size: xx-large;
}
#warenkorb {
    background-color: red;
    color: white;
}
.artice3{
	display: flex;
	justify-content: space-between;
}
.artice3 img{
    width:500px;
    height: 500px;
    float: left;
    margin-top: 16px;
	margin-bottom: 16px;
    padding-left: 200px;

}
.descriptionArticel3 {
    font-family: Calibri, sans-serif;
    font-size: X-large;
    padding: 10px;
    color: black;
    font-size: bold;
    text-align: LEFT;
    text-decoration: none;
    FLOAT: left;
    PADDING-RIGHT: 500px;
}
.pricearticel3 {
    float:RIGHT;
    font-family: Calibri, sans-serif;
    font-size: xx-large;
}
#warenkorb {
    background-color: red;
    color: white;
}